aside {
    margin: 30px;
    width: 330px;
    font-size: 15pt;
    color: white;
    background-color: gray;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

div {
    padding: 3.5%;
    display: flex;
}

div:hover {
    background: rgba(0, 0, 0, 0.3);
}

div::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 90px;
    float: left;
}

span {
    margin: auto 30px;
}